{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "printWidth": 120,
  "importOrder": ["^@/lib/(.*)$", "^@/(.*)$", "^@/styles/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
