@layer reset, base, tokens, recipes, utilities;

html,
body {
  width: 100%;
  height: 100%;
}

#safe-hydration {
  width: 100%;
  height: 100%;
}

/* @reactleaf/modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  z-index: 1000;
  pointer-events: none;
}
.modal-overlay.dim {
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  pointer-events: all;
}
.modal-overlay.dim.visible {
  background: rgba(0, 0, 0, 0);
}

/* react-datepicker */
.react-datepicker__input-container .react-datepicker__calendar-icon {
  height: 20px;
}
.react-datepicker__view-calendar-icon input.leaf-input {
  padding: 0 0.5rem 0 1.75rem;
}
